.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  position: relative;
  border: 1px solid teal;
  border-radius: 50px;
  background: none;
  padding: 10px;
  cursor: pointer;
}

.user-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__title {
    grid-column: span 1;
    padding: 5px 15px;
    border-bottom: 1px solid teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__phone {
    padding: 10px 0 10px 15px;
  }

  &__name {
    padding: 0 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 4px;
      background: teal;
    }
  }
}

.arrow {
  width: 36px;
  height: 36px;
  transform: rotate(-90deg);

  &--revert {
    transform: rotate(0deg);
  }

  &--up {
    transform: rotate(180deg);
  }
  &--down {
    transform: rotate(0deg);
  }
}
